// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img{
    width: 100%;
}

.our-vision {
    margin-top: 15rem;
}

.contact-us {
    margin-top: 8rem;
}
.cursor-pointer {cursor: pointer;}
